
body{
    margin: 0;
    padding: 0;
}
.middle{
    /* background-image: url('../img/galaxy-5507867_1920.jpg'); */
    width:100vw;
    height:100vh;
    background-position: center center;
    overflow: hidden;
    display:flex;
    display:fixed;
}
.leftDoor,.rightDoor{
    background-color: #fff;
    position: relative;
    height:100vh;
    width:50vw;
    opacity: 90%;
    transition: 3s; 
    

}
#image{
    transition: 3s;
}
.leftDoor.active {
    transform: translateX(-50vw);
    
    
}

.rightDoor.active {
    transform: translateX(50vw);
    
}  

#image.active{
    transform: translate(-50%,-300%);
    
    
}
#image{
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    border-radius: 50%;
    opacity: 90%;
    border: solid 3px #FFF;
    
    animation: ombre ease-in infinite alternate 900ms;
}
@keyframes ombre {
  0% {
    box-shadow: 0 0 3em #7122FA;
  }
  100% {
    box-shadow: 0 0 1em #FF00D7;
  }
}

.videoBack{
    width:100vw;
    height:100vh;
    background-size: cover;
    position:fixed;
    z-index: -100;
    overflow: hidden;
}

.videoB{
    width: 100%;
}